.row
  .col-12
    .calendar-block.prepend-top-default.append-bottom-default
      .user-calendar.d-none.d-sm-block{ data: { calendar_path: user_calendar_path(@user, :json), calendar_activities_path: user_calendar_activities_path, utc_offset: Time.zone.utc_offset } }
      .number-of-activities
        %h4.center.light
          = spinner nil, true
      .user-calendar-activities.d-none.d-sm-block
.row
  .col-md-12.col-lg-6
    - if can?(current_user, :read_cross_project)
      .activities-block
        .prepend-top-16
          .d-flex.align-items-center.border-bottom
            %h4.flex-grow
              = s_('UserProfile|Activity')
            = link_to s_('UserProfile|View all'), user_activity_path, class: "hide js-view-all"
          .overview-content-list{ data: { href: user_path } }
            .center.light.loading
              = spinner nil, true

  .col-md-12.col-lg-6
    .projects-block
      .prepend-top-16
        .d-flex.align-items-center.border-bottom
          %h4.flex-grow
            = s_('UserProfile|Personal projects')
          = link_to s_('UserProfile|View all'), user_projects_path, class: "hide js-view-all"
        .overview-content-list{ data: { href: user_projects_path } }
          .center.light.loading
            = spinner nil, true
